* {
    box-sizing: border-box;
}

/* $spacing: 1rem;
$color-primary: #ec0062;
$color-secondary: #334;
$color-dark: #223;
$color-black: #112; */

body {
    padding: 0 1rem;
    background: #223;
    background: -webkit-linear-gradient(to left, #112, #223);
    background: linear-gradient(to left, #112, #223);
}

.container {
    width: 100%;
    min-height: calc(100vh - 80.75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes draw {

    40%,
    80% {
        opacity: 1;
        stroke-dashoffset: 0;
        stroke: #ec0062;
    }

    95%,
    100% {
        stroke-dashoffset: 0;
        opacity: 0;
    }
}

.line {
    fill: none;
    stroke: #334;
    stroke-width: 4.75;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 200;
    animation: draw 7s infinite ease-in-out;

    &-reverse {
        stroke-dashoffset: -200;
    }

    &-forwards {
        stroke-dashoffset: 200;
    }
}





@media only screen and (min-width: 800px) {
    .container {
        width: 70%;
        margin: 0 auto;
    }
}